<div
  class="uk-container create-wrap"
  style="padding-top:1.5em !important;box-sizing: border-box;"
>
  <div
    class="uk-padding-small uk-padding-remove-left uk-padding-remove-right"
    uk-grid
  >
    <div class="uk-width-2-3 uk-text-left uk-text-emphasis">
      Beacon Configuration
    </div>
    <div class="uk-width-1-3 uk-text-center">
      <button class="uk-button-primary save-btn" (click)="create()">
        Register
      </button>
    </div>
  </div>
  <!-- 列表 -->
  <div
    class="uk-card uk-padding-small uk-margin-small uk-card-body uk-width-1-2@m uk-margin-remove-bottom"
  >
    <div class="table-wrap main-table-style">
      <table
        class="uk-table uk-margin-remove-top uk-margin-remove-bottom uk-table-middle"
        style="background-color: #f5f5f5;"
      >
        <thead class="thead-style" style="background-color:#ffffff; ">
          <tr>
            <th class="uk-text-emphasis uk-text-bold" style="font-weight:bold">
              #
            </th>
            <th class="uk-text-emphasis uk-text-bold" style="font-weight:bold">
              Name
            </th>
            <th class="uk-text-emphasis uk-text-bold" style="font-weight:bold">
              UUID
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody class="tbody-style">
          <tr class="uk-text-small uk-text-emphasis">
            <td class="uk-text-small uk-text-emphasis break-word-style">admin_yan</td>
            <td class="uk-text-small uk-text-emphasis">admin</td>
            <td class="uk-text-small uk-text-emphasis">admin</td>
            <td class="uk-padding-remove-left">
              <button
                class="uk-button uk-button-default uk-padding-remove-right uk-padding-remove-left edit-btn-style"
                >
                Edit
              </button>
              <button
                class="uk-button uk-margin-small-top uk-button-default uk-padding-remove-right uk-padding-remove-left edit-btn-style"
              >
                Delete
              </button>
            </td>
          </tr>
          <tr class="uk-text-small	uk-text-emphasis">
            <td class="uk-text-small uk-text-emphasis break-word-style">admin_yan</td>
            <td class="uk-text-small uk-text-emphasis">admin</td>
            <td class="uk-text-small uk-text-emphasis">admin</td>
            <td class="uk-padding-remove-left">
              <button
                class="uk-button uk-button-default uk-padding-remove-right uk-padding-remove-left edit-btn-style"
              >
                Edit
              </button>
              <button
                class="uk-button uk-margin-small-top uk-button-default uk-padding-remove-right uk-padding-remove-left edit-btn-style"
              >
                Delete
              </button>
            </td>
          </tr>
          <tr class="uk-text-small	uk-text-emphasis">
            <td class="uk-text-small uk-text-emphasis break-word-style">admin_yan</td>
            <td class="uk-text-small uk-text-emphasis">admin</td>
            <td class="uk-text-small uk-text-emphasis">admin</td>
            <td class="uk-padding-remove-left">
              <button
                class="uk-button uk-button-default uk-padding-remove-right uk-padding-remove-left edit-btn-style"
              >
                Edit
              </button>
              <button
                class="uk-button uk-margin-small-top uk-button-default uk-padding-remove-right uk-padding-remove-left edit-btn-style"
              >
                Delete
              </button>
            </td>
          </tr>
          <tr>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- ---------------------------------------------------------- -->
<!-- <app-header
  [backPath]="true"
  (onClickButton)="onHeaderClick($event)"
></app-header> -->
<!-- <div class="uk-container">
  <nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-left">
      <a class="uk-navbar-item uk-logo">{{ "dealer list" | translate }}</a>
    </div>
    <div class="uk-navbar-right">
      <div class="uk-navbar-item">
        <button
          class="uk-button uk-button-default uk-border-rounded"
          (click)="create()"
        >
          {{ "create dealer" | translate }}
        </button>
      </div>
    </div>
  </nav>
  <div
    class="uk-card uk-card-default uk-margin"
    style="border:1px solid #ddd;"
    *ngFor="let dealer of dealers; let i = index"
  >
    <div class="uk-card-header uk-background-muted">
      <div class="uk-width-expand">
        <h3 class="uk-card-title uk-margin-remove-bottom">{{ dealer.name }}</h3>
        <p class="uk-text-meta uk-margin-remove-top">
          {{ "id" | translate }}: {{ dealer.id }}
        </p>
        <p>
          {{ "address" | translate }}: {{ dealer.address }} {{ dealer.street }}
          {{ dealer.state }} {{ dealer.city }} {{ dealer.country }}
        </p>
      </div>
    </div>
    <div class="uk-card-footer">
      <div class="uk-label" [translate]="dealer.status"></div>
      <button
        class="uk-button uk-button-mute uk-button-small uk-border-rounded uk-margin-left"
        (click)="view(dealer.id)"
      >
        {{ "enter" | translate }}
      </button>
    </div>
  </div>
  <div class=" uk-margin">
    <ul class="uk-pagination uk-flex-center" uk-margin>
      <li *ngIf="pageController.pageIndex != 1">
        <a (click)="changePageonClick(false, -1)"
          ><span uk-pagination-previous></span
        ></a>
      </li>
      <li *ngIf="pageController.pageIndex > 4" class="uk-disabled">
        <span>...</span>
      </li>
      <li
        *ngFor="let index of pageController.pageArray"
        [class.uk-active]="index == pageController.pageIndex"
      >
        <a (click)="changePageonClick(true, index)">{{ index }}</a>
      </li>
      <li
        *ngIf="pageController.pageNumber - pageController.pageIndex > 3"
        class="uk-disabled"
      >
        <span>...</span>
      </li>
      <li *ngIf="pageController.pageIndex != pageController.pageNumber">
        <a (click)="changePageonClick(false, 1)"
          ><span uk-pagination-next></span
        ></a>
      </li>
    </ul>
  </div>
</div> -->
<div class="loading" *ngIf="loading">
  <span class="uk-margin-small-right" uk-spinner="ratio: 3"></span>
</div>
