<nav class="uk-navbar-container uk-margin" style="padding-top:1em;" uk-navbar>
  <div class="uk-navbar-left">
    <div class="uk-navbar-item" *ngIf="button.back">
      <a class="uk-button uk-button-default uk-button-small uk-border-rounded" (click)="onClick('back')"><span uk-icon="chevron-left"></span>{{'back'|translate}}</a>
    </div>
   
  </div>
  <div class="uk-navbar-right">
 
    <div class="uk-navbar-item">
      新版头部，只是为了方便退出系统而已  <a class="uk-button uk-button-default uk-button-small uk-border-rounded"  (click)="onClick('logout'); logout();">{{'logout'|translate}}</a>
    </div>
  </div>
</nav>