<div class="uk-container uk-block-wrap">
  <div class="uk-margin-large-bottom" uk-grid>
    <div class="uk-width-4-5 uk-text-large uk-text-emphasis">
      Profile Management
    </div>
    <div
      class="uk-width-1-5 uk-width-padding uk-text-center uk-text-middle en uk-text-primary language"
    >
      En|中
    </div>
  </div>
  <div class="uk-margin-top">&nbsp;</div>
  <div
    class="uk-card uk-card-default uk-card-body uk-width-1-2@m uk-margin-top middleBg"
  >
    <div uk-grid>
      <div class="uk-width-1-2 uk-text-emphasis">Username</div>
      <div class="uk-width-1-2 uk-padding-remove">
        <input
          class="uk-search-input uk-text-emphasis pad4"
          type="search"
          placeholder="sdfsdfsd"
        />
      </div>
    </div>
    <div uk-grid class="uk-margin-large-bottom">
      <div class="uk-width-1-2 uk-text-emphasis">Position</div>
      <div class="uk-width-1-2 uk-padding-remove">
        <input
          class="uk-search-input uk-text-emphasis pad4"
          type="search"
          placeholder="sdfsdfsd"
        />
      </div>
    </div>
    <div class="uk-margin-top">&nbsp;</div>
    <div class="uk-container uk-text-center uk-margin-top">
      <button class="uk-button uk-button-primary uk-width-4-5 uk-margin-top btn-bg">
        Password
      </button>
      <button class="uk-button uk-button-primary uk-width-4-5 uk-margin-top btn-bg">
        Logout
      </button>
    </div>
  </div>
  <!-- <nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-left">
      <a class="uk-navbar-item uk-logo"
        >{{ "car" | translate }} {{ "management" | translate }}</a
      >
    </div>
    <div class="uk-navbar-right">
      <button
        class="uk-button uk-button-small uk-button-primary uk-border-rounded"
        (click)="registerCar()"
      >
        {{ "register" | translate }} {{ "car" | translate }}
      </button>
    </div>
  </nav> -->
  <!-- <div class="uk-container"> -->
  <!-- <div uk-grid>
    <div class="uk-width-3-4 uk-text-large">Profile Management</div>
    <div class="uk-width-1-4">
        <span>En|中</span>
    </div>
  </div> -->
  <!-- <div class="uk-flex ul-flex-new uk-flex-wrap-space-between">
    <div class="left uk-text-large">Profile Management</div>
    <div class="right uk-flex-right uk-text-small">En|中</div>
  </div>
  <div class="uk-card uk-card-default uk-card-large uk-card-body">sefsd</div> -->
  <!-- </div> -->
  <!-- 
profile manager 切片代码
<app-header>
  </app-header>
  <div class="uk-container">
      <nav class="uk-navbar-container uk-margin" uk-navbar>
          <div class="uk-navbar-left">
              <a class="uk-navbar-item uk-logo">{{'profile'|translate}} {{'edit'|translate}}</a>
          </div>
          <div class="uk-navbar-right">
          </div>
      </nav>
      <form class="uk-form-stacked">
          <div class="uk-margin">
              <label class="uk-form-label" for="username">*{{'username'|translate}}</label>
              <div class="uk-form-controls">
                  <input class="uk-input" name="username" id="username" type="text" [(ngModel)]="user.username" disabled>
              </div>
          </div>

          
          <div class="uk-margin">
              <label class="uk-form-label" for="position">*{{'position'|translate}}</label>
              <div class="uk-form-controls">
                  <select class="uk-select" id="position" name="position" [(ngModel)]="user.user_role_id" disabled>
                      <option value="admin">Admin</option>
                      <option value="supervisor">Supervisor</option>
                      <option value="analyst">Analyst</option>
                      <option value="technician">Technician</option>
                  </select>
              </div>
          </div>
           
      </form>
      <div class="uk-container uk-text-right uk-margin-large-bottom">
          <button class="uk-button uk-button-default uk-border-rounded" (click)="pwdprofile()">{{'password'|translate}}</button>
          <button class="uk-button uk-button-default uk-border-rounded uk-margin-small-left" (click)="logout()">{{'logout'|translate}}</button>
      </div>
  </div>
   -->
  <app-confirm-modal [elementId]="confirmModal.elementId" [detail]="confirmModal.detail" (onClick)="onClickConfirmModal($event)"></app-confirm-modal>
 
  <div class="loading" *ngIf="loading">
      <span class="uk-margin-small-right" uk-spinner="ratio: 3"></span>
  </div> 
</div>
