<app-header [backPath]="true" (onClickButton)="onHeaderClick($event)"></app-header>
<div class="uk-container">
  <nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-left">
      <a class="uk-navbar-item uk-logo" >{{'blenode'|translate}} {{'configuration'|translate}}</a>
    </div>
    <div class="uk-navbar-right">
    </div>
  </nav>

  <fieldset class="uk-fieldset uk-background-muted uk-padding-small">
	<div class="uk-margin">
        <input class="uk-input" type="text" placeholder="*{{'dev'|translate}} {{'eui'|translate}}" [(ngModel)]="node.dev_eui">
	</div>
	<div class="uk-margin">
        <input class="uk-input" type="text" placeholder="*{{'blenode'|translate}} {{'name'|translate}}" [(ngModel)]="node.name">
	</div>
	<div class="uk-margin">
          <select class="uk-select" id="form-stacked-select" [(ngModel)]="node.station_id">
            <option value="0" selected>*{{'please Select Station' |translate}}</option>
            <option value="{{station.id}}" *ngFor="let station of stations">{{station.name}}</option>
          </select>
	</div>
	<div class="uk-margin">
        <button class="uk-button uk-button-primary uk-border-rounded" (click)="addNode()">{{'add'|translate}} {{'node'|translate}}</button>
	</div>
  </fieldset>

  <div class="uk-card uk-card-default uk-margin" style="border:1px solid #ddd;"  *ngFor="let node of nodes; let i = index">
    <div class="uk-card-header uk-background-muted">
		<div class="uk-width-expand">
			<h3 class="uk-card-title uk-margin-remove-bottom">{{node.name}}
				<span class="uk-label">{{node.station.name}}</span>
			</h3>
			<p class="uk-text-meta uk-margin-remove-top">{{'id' |translate}}:  {{node.id}}</p>
			<p>{{'dev'|translate}} {{'eui'|translate}}:  {{node.dev_eui}}</p>
		</div>
    </div>
    <div class="uk-card-footer">
        <button class="uk-button uk-button-mute uk-button-small uk-border-rounded" (click)="editNode(node.id)">{{'edit'|translate}}</button>
        <button class="uk-button uk-button-mute uk-button-small uk-border-rounded uk-margin-left" (click)="deleteNode(node.id, node.name)">{{'delete'|translate}}</button>
	</div>
  </div>  

<div class=" uk-margin">
  <ul class="uk-pagination uk-flex-center" uk-margin>
    <li *ngIf="pageController.pageIndex != 1">
      <a (click)="changePageonClick(false,-1)">
        <span uk-pagination-previous></span>
      </a>
    </li>
    <li *ngIf="pageController.pageIndex > 4" class="uk-disabled">
      <span>...</span>
    </li>
    <li *ngFor="let index of pageController.pageArray" [class.uk-active]="index==pageController.pageIndex">
      <a (click)="changePageonClick(true,index)">{{index}}</a>
    </li>
    <!-- <li class="uk-active"><span>4</span></li> -->
    <li *ngIf="pageController.pageNumber - pageController.pageIndex > 3" class="uk-disabled">
      <span>...</span>
    </li>
    <li *ngIf="pageController.pageIndex != pageController.pageNumber">
      <a (click)="changePageonClick(false,1)">
        <span uk-pagination-next></span>
      </a>
    </li>
  </ul>
</div>
</div>

<app-confirm-modal [elementId]="confirmModal.elementId" [detail]="confirmModal.detail" (onClick)="onClickConfirmModal($event)"></app-confirm-modal>

<div class="loading" *ngIf="loading">
  <span class="uk-margin-small-right" uk-spinner="ratio: 3"></span>
</div>