/* new class */
.footer-bottom {
	bottom:0;
	width:100%;
	height:60px;   /* Height of the footer */
	background:#f8f8f8;
	position: fixed;
}
body {
 padding-bottom: 60px;
//  background-color: aqua;
}
