<!-- <nav class="uk-navbar-container uk-margin footer-bottom" uk-navbar>
  <div class="uk-navbar-left">
    xcvxcvvs
  </div>
  <div class="uk-navbar-right">
  </div>
</nav> -->

<!-- <div class="footer-bottom uk-margin-top"></div> -->

<!-- <div class="footer-padding "></div> -->
 
<ul class="uk-subnav uk-subnav-divider uk-child-width-1-3 uk-text-center  uk-margin-remove  footer-bottom" >
  <li  ><a href="javascript:void(0)" (click)="carManagement()">{{'DashBoard'|translate}} </a></li>
  <li  ><a href="javascript:void(0)" (click)="dashboard()">{{'Car'|translate}} </a></li>
  <li  ><a href="javascript:void(0)" (click)="userManagement()">{{'Me'|translate}} </a></li>
</ul>