<!-- <nav class="uk-navbar-container uk-margin footer-bottom" uk-navbar>
  <div class="uk-navbar-left">
    xcvxcvvs
  </div>
  <div class="uk-navbar-right">
  </div>
</nav> -->

<!-- <div class="footer-bottom uk-margin-top"></div> -->

<!-- <div class="footer-padding "></div> -->
 
<ul class="uk-subnav uk-subnav-divider uk-child-width-1-3 uk-text-center   uk-margin-remove  footer-bottom" >
  <li   class="uk-text-center"><a href="javascript:void(0)" (click)="dashboard()">
      <div class="uk-margin"></div>
     <div class="uk-margin"><img class="footer-img" src="../../../assets/images/dash.svg" /></div> 
     <div class="uk-margin">{{'DashBoard'|translate}}</div> 
    
  </a></li>
  <li  >
    
    
    
    <a href="javascript:void(0)" (click)="carManagement()">
      
        <div class="uk-margin"></div>
     <div class="uk-margin"><img class="footer-img" src="../../../assets/images/car.svg" /></div> 
     <div class="uk-margin">{{'Car'|translate}} {{'Management'|translate}}</div> 

      </a></li>
  <li ><a href="javascript:void(0)" (click)="profileManagement()">
    <div class="uk-margin"></div>
    <div class="uk-margin"><img class="footer-img" src="../../../assets/images/proli.svg" /></div> 
    <div class="uk-margin">{{'Profile'|translate}} {{'Management'|translate}}</div> 
  </a></li>
</ul>