/* new class */
.footer-bottom {
  bottom: 0;
  width: 100%;
  height: 62px;
  /* Height of the footer */
  background: #f8f8f8;
  position: fixed;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  
}
// .footer-img {
// 	width:60px;   
// 	height:60px;   
// 	display: block;
// 	margin: 10px auto; 
// }
// body {
//   background-color:#f2f2f3;
// }
.footer-bottom > li {
  margin: 0;
  padding: 0;
  flex: 1;
  display: flex;
  justify-content: center;
  text-align: center !important;
  position: relative;
}

.footer-bottom > li:not(:first-child) a::after {
  content: '';
  display: block;
  width: 1px;
  height: 20px;
  background: #3d3d3d;
  position: absolute;
  left: 0;
  top: 14px;
  z-index: 100;
}

.footer-bottom > li a {
  width: 100%;
  height: 100%;
  margin: 0 auto !important;
  position: relative;
  text-decoration: none !important;
}

.footer-bottom > li a i {
  display: block;
  margin: 10px auto 0;
  width: 30px !important;
  height: 22px !important;
}
.footer-padding{
	width: 100%;
  height:80px;
   
}
 
@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
  .footer-padding{
 
    height:114px;
     
  }
  // .footer-bottom{
  //   height: 96px;
  //   border: 1px solid red;
  // }
  // .footer-padding{
  //   height:204px;
  //   background-color: aqua;
  //   border: 1px solid blue;
	// }
}

