<!-- 切片car-register汽车页面代码 -->

<!-- <app-header>
</app-header> -->
<div class="uk-container register-wrap"  style="padding-top:1.5em;"  >
  <div style="width:100%;" class="uk-padding-small"></div>
  <div class="uk-margin-top" uk-grid>
    <div class="uk-width-1-3 uk-text-center uk-text-emphasis"  (click)="cancelCar()">{{'cancel'|translate}}</div>
    
    <div class="uk-width-1-3"></div>
    <div class="uk-width-1-3 uk-text-center">
      <button class="uk-button-primary save-btn" (click)="registerCar()">{{'register'|translate}}</button>
    </div>
 
  </div>
  <div
    class="uk-width-1-1 register-padding uk-text-emphasis uk-margin-large-top uk-text-large"
  >
   {{'register'|translate}} {{'car'|translate}}
  </div>
  <div class="uk-margin-top" uk-grid>
    <div class="uk-width-1-2 uk-padding-right">
      <input class="uk-search-input grayBg input-padding-left uk-text-emphasis" type="text" name="licensePlate" id="licensePlate" type="text" [(ngModel)]="car.license_plate" placeholder="*{{'license plate'|translate}}" />
    </div>
    
    <div class="uk-form-controls uk-width-1-2">
      
      <select  class="uk-select uk-form-small grayBg uk-text-emphasis" id="beacon" name="beacon"  [(ngModel)]="car.beacon_name"  >
          <option class="uk-form-small grayBg uk-text-emphasis" *ngFor="let beacon of beacons" value="{{beacon.name}}">{{beacon.name}}</option>
      </select>
    </div>
     
  </div>
 
</div>

<app-confirm-modal
  [elementId]="confirmModal.elementId"
  [detail]="confirmModal.detail"
  (onClick)="onClickConfirmModal($event)"
></app-confirm-modal>

<div class="loading" *ngIf="loading">
  <span class="uk-margin-small-right" uk-spinner="ratio: 3"></span>
</div>
