<!-- 切片car-register汽车页面代码 -->

<!-- <app-header>
</app-header> -->
<div class="uk-container register-wrap">
  <div uk-grid>
    <div class="uk-width-1-3 uk-text-center uk-text-emphasis">Cancel</div>
    <!-- <div class="uk-width-1-4"></div> -->
    <div class="uk-width-1-3"></div>
    <div class="uk-width-1-3 uk-text-center">
        <button class="uk-button-primary">Save</button>
    </div>
  </div>
  <!-- <form class="uk-form-stacked">
        <div class="uk-margin">
           
            <label class="uk-form-label" for="licensePlate">*{{'license plate'|translate}}</label>
            <div class="uk-form-controls">
                <input class="uk-input" name="licensePlate" id="licensePlate" type="text" [(ngModel)]="car.license_plate" />
            </div>
        </div>
      
     <div class="uk-margin">
        <label class="uk-form-label" for="beacont">*{{'beacon'|translate}}{{'name'|translate}}</label>
        <div class="uk-form-controls">
           
            <select class="uk-select"  id="beacon" name="beacon"  [(ngModel)]="car.beacon_name">
                    <option *ngFor="let beacon of beacons" value="{{beacon.name}}">{{beacon.name}}</option>
                </select>
            </div>
    </div>


        <div class="uk-container uk-text-right uk-margin-large-bottom">
            <button class="uk-button uk-button-default uk-border-rounded" (click)="registerCar()">{{'register'|translate}}</button>
            <button class="uk-button uk-button-default uk-border-rounded uk-margin-small-left" (click)="cancelCar()">{{'cancel'|translate}}</button>
        </div>
    </form> -->
</div>

<app-confirm-modal
  [elementId]="confirmModal.elementId"
  [detail]="confirmModal.detail"
  (onClick)="onClickConfirmModal($event)"
></app-confirm-modal>

<div class="loading" *ngIf="loading">
  <span class="uk-margin-small-right" uk-spinner="ratio: 3"></span>
</div>
