<!-- <app-header [backPath]="true" (onClickButton)="onHeaderClick($event)"></app-header>
 -->

 <app-footer></app-footer>

<div class="uk-container">
  <nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-left">

      <a class="uk-navbar-item uk-logo" >{{'user'|translate}} {{'list'|translate}}</a>
    </div>
    <div class="uk-navbar-right">
      <div class="uk-navbar-item">
        <button class="uk-button uk-button-default uk-border-rounded" (click)="createUser()">{{'create'|translate}} {{'user'|translate}}</button>
      </div>
    </div>
  </nav>

  <div class="uk-card uk-card-default uk-margin" style="border:1px solid #ddd;"  *ngFor="let user of users; let i = index">
    <div class="uk-card-header uk-background-muted">
		<div class="uk-width-expand">
		  <table class="uk-table uk-table-striped">
			  <tr>
	 
			  </tr>
			  <tr>
				<td class="uk-text-nowrap">{{'username'|translate}}</td>
				<td>{{user.username}}</td>
			  </tr>
			  <tr>
		 
			  </tr>
			  <tr>
				<td class="uk-text-nowrap">{{'position'|translate}}</td>
				<td>{{user.user_role_id}}</td>
			  </tr>
		  </table>
		</div>
    </div>
    <div class="uk-card-footer">
          <button class="uk-button uk-button-mute uk-button-small uk-border-rounded" (click)="editUser(user.id)">{{'edit'|translate}}</button>
	</div>
  </div> 


<div class="uk-margin">
  <ul class="uk-pagination uk-flex-center" uk-margin>
    <li *ngIf="pageController.pageIndex != 1">
      <a (click)="changePageonClick(false,-1)">
        <span uk-pagination-previous></span>
      </a>
    </li>
    <li *ngIf="pageController.pageIndex > 4" class="uk-disabled">
      <span>...</span>
    </li>
    <li *ngFor="let index of pageController.pageArray" [class.uk-active]="index==pageController.pageIndex">
      <a (click)="changePageonClick(true,index)">{{index}}</a>
    </li>
    
    <li *ngIf="pageController.pageNumber - pageController.pageIndex > 3" class="uk-disabled">
      <span>...</span>
    </li>
    <li *ngIf="pageController.pageIndex != pageController.pageNumber">
      <a (click)="changePageonClick(false,1)">
        <span uk-pagination-next></span>
      </a>
    </li>
  </ul>
</div>
</div>
<div class="loading" *ngIf="loading"><span class="uk-margin-small-right" uk-spinner="ratio: 3"></span></div>