<!-- <app-header [backPath]="true" (onClickButton)="onHeaderClick($event)"></app-header>
 -->
<!-- 头部 -->
<div
  class="uk-container uk-padding-large uk-padding-remove-bottom uk-padding-remove-top user-list-top-style"
>
  <div uk-grid>
    <div class="uk-width-1-2 uk-text-emphasis uk-text-bold">User List</div>
    <div class="uk-width-1-2">
      <button
        class="uk-button uk-button-primary uk-padding-remove-left uk-padding-remove-right top-button-style"
      >
        Create
      </button>
    </div>
  </div>
</div>
<!-- 列表 -->
<div
  class="uk-card uk-padding-small uk-margin-large uk-card-body uk-width-1-2@m uk-margin-remove-bottom"
>
  <div class="table-wrap main-table-style">
    <table
      class="uk-table uk-margin-remove-top uk-margin-remove-bottom uk-table-middle"
      style="background-color: #f5f5f5;"
    >
      <thead class="thead-style" style="background-color:#ffffff; ">
        <tr>
          <th class="uk-text-emphasis uk-text-bold" style="font-weight:bold">
            Username
          </th>
          <th class="uk-text-emphasis uk-text-bold" style="font-weight:bold">
            Pvosition
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody class="tbody-style">
        <tr class="uk-text-small uk-text-emphasis">
          <td class="uk-text-small uk-text-emphasis">admin_yandebao</td>
          <td class="uk-text-small uk-text-emphasis">admin</td>
          <td class=" uk-padding-remove-right">
            <button
              (click)="createUser()"
              class="uk-button uk-button-default uk-text-bold uk-padding-remove-right uk-padding-remove-left edit-btn-style"
            >
              Edit
            </button>
          </td>
        </tr>
        <tr class="uk-text-small	uk-text-emphasis">
          <td class="uk-text-small uk-text-emphasis">admin_yandebao</td>
          <td class="uk-text-small uk-text-emphasis">admin</td>
          <td class=" uk-padding-remove-right">
            <button
              (click)="createUser()"
              class="uk-button uk-button-default uk-text-bold uk-padding-remove-right uk-padding-remove-left edit-btn-style"
            >
              Edit
            </button>
          </td>
        </tr>
        <tr class="uk-text-small	uk-text-emphasis">
          <td class="uk-text-small uk-text-emphasis">admin_yandebao</td>
          <td class="uk-text-small uk-text-emphasis">admin</td>
          <td class=" uk-padding-remove-right">
            <button
              (click)="createUser()"
              class="uk-button uk-button-default uk-text-bold uk-padding-remove-right uk-padding-remove-left edit-btn-style"
            >
              Edit
            </button>
          </td>
        </tr>
        <tr>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- 分页 -->
<ul class="uk-pagination pagination-style" uk-margin>
  <li>
    <a href="#"><span uk-pagination-previous></span></a>
  </li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li>
    <a href="#"><span uk-pagination-next></span></a>
  </li>
</ul>
<app-footer></app-footer>

<!-- <div class="uk-container">
  <nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-left">
      <a class="uk-navbar-item uk-logo"
        >{{ "user" | translate }} {{ "list" | translate }}</a
      >
    </div>
    <div class="uk-navbar-right">
      <div class="uk-navbar-item">
        <button
          class="uk-button uk-button-default uk-border-rounded"
          (click)="createUser()"
        >
          {{ "create" | translate }} {{ "user" | translate }}
        </button>
      </div>
    </div>
  </nav>

  <div
    class="uk-card uk-card-default uk-margin"
    style="border:1px solid #ddd;"
    *ngFor="let user of users; let i = index"
  >
    <div class="uk-card-header uk-background-muted">
      <div class="uk-width-expand">
        <table class="uk-table uk-table-striped">
          <tr></tr>
          <tr>
            <td class="uk-text-nowrap">{{ "username" | translate }}</td>
            <td>{{ user.username }}</td>
          </tr>
          <tr></tr>
          <tr>
            <td class="uk-text-nowrap">{{ "position" | translate }}</td>
            <td>{{ user.user_role_id }}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="uk-card-footer">
      <button
        class="uk-button uk-button-mute uk-button-small uk-border-rounded"
        (click)="editUser(user.id)"
      >
        {{ "edit" | translate }}
      </button>
    </div>
  </div>

  <div class="uk-margin">
    <ul class="uk-pagination uk-flex-center" uk-margin>
      <li *ngIf="pageController.pageIndex != 1">
        <a (click)="changePageonClick(false, -1)">
          <span uk-pagination-previous></span>
        </a>
      </li>
      <li *ngIf="pageController.pageIndex > 4" class="uk-disabled">
        <span>...</span>
      </li>
      <li
        *ngFor="let index of pageController.pageArray"
        [class.uk-active]="index == pageController.pageIndex"
      >
        <a (click)="changePageonClick(true, index)">{{ index }}</a>
      </li>

      <li
        *ngIf="pageController.pageNumber - pageController.pageIndex > 3"
        class="uk-disabled"
      >
        <span>...</span>
      </li>
      <li *ngIf="pageController.pageIndex != pageController.pageNumber">
        <a (click)="changePageonClick(false, 1)">
          <span uk-pagination-next></span>
        </a>
      </li>
    </ul>
  </div>
</div> -->
<div class="loading" *ngIf="loading">
  <span class="uk-margin-small-right" uk-spinner="ratio: 3"></span>
</div>
