<app-header [backPath]="true" (onClickButton)="onHeaderClick($event)"></app-header>
<div class="uk-container">
  <nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-left">
      <a class="uk-navbar-item uk-logo">{{'data'|translate}}</a>
    </div>
    <div class="uk-navbar-right">
      
    </div>
  </nav>

  <fieldset class="uk-fieldset uk-background-muted uk-padding-small">
	<div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">{{'start date'|translate}}: </label>
        <div class="uk-form-controls">
          <input class="uk-input" type="date" [(ngModel)]="filter.start_date">
        </div>
	</div>
	<div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">{{'end date'|translate}}: </label>
        <div class="uk-form-controls">
          <input class="uk-input" type="date" [(ngModel)]="filter.end_date">
        </div>
	</div>
	<div class="uk-margin">
        <button class="uk-button uk-button-default uk-border-rounded" (click)="onClickFilter()">{{'apply'|translate}} {{'filter'|translate}}</button>
        <button class="uk-button uk-button-default uk-border-rounded uk-margin-left" (click)="onClickExport()">{{'download as excel'|translate}}</button>
	</div>
  </fieldset>

  <div class="uk-overflow-auto">
    <table class="uk-table uk-table-striped uk-table-small">
      <thead>
        <tr>
          <th rowspan="2">{{'date'|translate}}</th>
          <th colspan="4">{{'car'|translate}} {{'detail'|translate}}</th>
          <th colspan="4">{{'summary'|translate}}</th>
          <th colspan="4" *ngFor="let station of stations">{{station.name}}</th>
        </tr>
        <tr>
          <th class="uk-text-nowrap">{{'license plate'|translate}}</th>
          <th class="uk-text-nowrap">{{'brand'|translate}}</th>
          <th class="uk-text-nowrap">{{'model'|translate}}</th>
          <th class="uk-text-nowrap">{{'color'|translate}}</th>
          <th class="uk-text-nowrap">{{'arrival'|translate}} {{'time'|translate}}</th>
          <th class="uk-text-nowrap">{{'departure'|translate}} {{'time'|translate}}</th>
          <th class="uk-text-nowrap">{{'total'|translate}} {{'time'|translate}}</th>
          <th class="uk-text-nowrap">{{'status'|translate}}</th>
          <ng-container *ngFor="let station of stations">
            <th class="uk-text-nowrap">{{'arrival'|translate}} {{'time'|translate}}</th>
            <th class="uk-text-nowrap">{{'departure'|translate}} {{'time'|translate}}</th>
            <th class="uk-text-nowrap">{{'total'|translate}} {{'time'|translate}}</th>
            <th class="uk-text-nowrap">{{'status'|translate}}</th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of datas">
          <td class="uk-text-nowrap">{{data.created_at}}</td>
          <td class="uk-text-nowrap">{{data.license_plate}}</td>
          <td class="uk-text-nowrap">{{data.brand}}</td>
          <td class="uk-text-nowrap">{{data.model}}</td>
          <td class="uk-text-nowrap">{{data.color}}</td>
          <ng-container>
            <td class="uk-text-nowrap">{{data.timeline[0].min_time}}</td>
            <td class="uk-text-nowrap">{{data.timeline[0].max_time}}</td>
            <td class="uk-text-nowrap">{{data.timeline[0].def_time}}</td>
            <td class="uk-text-nowrap">
              <ng-container *ngFor="let timeline of data.timeline">
                <ng-container *ngIf="timeline.station_id == 0">
                  {{timeline.dealer_noti_name}},
                </ng-container>
              </ng-container>
              <ng-container *ngIf="!data.timeline[0].dealer_noti_name">
                OK
              </ng-container>
            </td>
          </ng-container>
          <ng-container *ngFor="let timeline of data.timeline;">
            <ng-container *ngIf="timeline.station_id != 0">
              <td class="uk-text-nowrap">{{timeline.min_time}}</td>
              <td class="uk-text-nowrap">{{timeline.max_time}}</td>
              <td class="uk-text-nowrap">{{timeline.def_time}}</td>
              <td class="uk-text-nowrap">
                <ng-container *ngIf="timeline.station_noti_name">
                  {{timeline.station_noti_name}}
                </ng-container>
                <ng-container *ngIf="!timeline.station_noti_name">
                  OK
                </ng-container>
              </td>
            </ng-container>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>

<div class="uk-margin">
  <ul class="uk-pagination uk-flex-center" uk-margin>
    <li *ngIf="pageController.pageIndex != 1">
      <a (click)="changePageonClick(false,-1)">
        <span uk-pagination-previous></span>
      </a>
    </li>
    <li *ngIf="pageController.pageIndex > 4" class="uk-disabled">
      <span>...</span>
    </li>
    <li *ngFor="let index of pageController.pageArray" [class.uk-active]="index==pageController.pageIndex">
      <a (click)="changePageonClick(true,index)">{{index}}</a>
    </li>
    <!-- <li class="uk-active"><span>4</span></li> -->
    <li *ngIf="pageController.pageNumber - pageController.pageIndex > 3" class="uk-disabled">
      <span>...</span>
    </li>
    <li *ngIf="pageController.pageIndex != pageController.pageNumber">
      <a (click)="changePageonClick(false,1)">
        <span uk-pagination-next></span>
      </a>
    </li>
  </ul>
</div>
</div>

<div class="loading" *ngIf="loading">
  <span class="uk-margin-small-right" uk-spinner="ratio: 3"></span>
</div>