<div class="uk-container register-wrap" style="padding-top:1.5em;"  >
        <div class="uk-margin-top" uk-grid>
          <div class="uk-width-1-3 uk-text-center uk-text-emphasis"  (click)="cancelCar()">{{'cancel'|translate}}</div>
          
          <div class="uk-width-1-3"></div>
          <div class="uk-width-1-3 uk-text-center">
            <button class="uk-button-primary save-btn" (click)="editCar()">{{'save'|translate}}</button>
          </div>
       
        </div>
        <div
          class="uk-width-1-1 register-padding uk-text-emphasis uk-margin-large-top uk-text-large"
        >
        {{'edit'|translate}} {{'car'|translate}} 
        </div>
        <div class="uk-margin-top" uk-grid>
          <div class="uk-width-1-2 uk-padding-right">
            <input class="uk-search-input grayBg input-padding-left uk-text-emphasis" type="text" name="licensePlate" id="licensePlate" type="text" [(ngModel)]="car.license_plate" placeholder="*{{'license plate'|translate}}" />
          </div>
          
          <div class="uk-form-controls uk-width-1-2">
            
            <select  class="uk-select uk-form-small grayBg uk-text-emphasis" id="beacon" name="beacon"  [(ngModel)]="car.beacon_name"  >
                <option class="uk-form-small grayBg uk-text-emphasis" *ngFor="let beacon of beacons" value="{{beacon.name}}">{{beacon.name}}</option>
            </select>
          </div>
           
        </div>
       
      </div>
      
      <app-confirm-modal
        [elementId]="confirmModal.elementId"
        [detail]="confirmModal.detail"
        (onClick)="onClickConfirmModal($event)"
      ></app-confirm-modal>
      
      <div class="loading" *ngIf="loading">
        <span class="uk-margin-small-right" uk-spinner="ratio: 3"></span>
      </div>
<!--       
 
<div class="uk-container">
    <nav class="uk-navbar-container uk-margin" uk-navbar>
        <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-logo">{{'car'|translate}} {{'edit'|translate}}</a>
        </div>
        <div class="uk-navbar-right">
        </div>
    </nav>
    <form class="uk-form-stacked">
        <div class="uk-margin">
            <label class="uk-form-label" for="licensePlate">*{{'license plate'|translate}}</label>
            <div class="uk-form-controls">
                <input class="uk-input" name="licensePlate" id="licensePlate" type="text" [(ngModel)]="car.license_plate">
            </div>
        </div>
        
        <div class="uk-margin">
            <label class="uk-form-label" for="beacont">*{{'beacon'|translate}}{{'name'|translate}}</label>
            <div class="uk-form-controls">
               
				<select class="uk-select"  name="beacon" id="beacon" [(ngModel)]="car.beacon_name">
                        <option *ngFor="let beacon of beacons" value="{{beacon.name}}">{{beacon.name}}</option>
                    </select>
                </div>
        </div>
    </form>
    <div class="uk-container uk-text-right uk-margin-large-bottom">
        <button class="uk-button uk-button-default uk-border-rounded" (click)="editCar()">{{'edit'|translate}}</button>
        <button class="uk-button uk-button-default uk-border-rounded uk-margin-small-left" (click)="cancelCar()">{{'cancel'|translate}}</button>
    </div>

</div>

<app-confirm-modal [elementId]="confirmModal.elementId" [detail]="confirmModal.detail" (onClick)="onClickConfirmModal($event)"></app-confirm-modal>

<div class="loading" *ngIf="loading">
    <span class="uk-margin-small-right" uk-spinner="ratio: 3"></span>
</div> -->