<div uk-sticky>
  <nav class="uk-navbar-container" style="height:50pt" uk-navbar>
    <div class="uk-navbar-left uk-margin-left">
          <button class="uk-button-text" (click)="cancelTime()"><span uk-icon="icon: chevron-left"></span></button>
      </div>
      <div class="uk-navbar-center">
          {{'timeline'|translate}}
      </div>
      <div class="uk-navbar-right uk-margin-right">
      </div>
    </nav>
</div>

<div style="background-color: white">
  
  <div class="uk-card uk-card-body">
    <dl class="uk-description-list uk-margin-remove-top dl-style">
      <dt class="uk-margin-small-bottom"> <span class="uk-text-capitalize">{{'license'|translate}} </span> <span class="uk-text-lowercase">{{'plate'|translate}}</span>：<span *ngIf="car.license_plate" class=" uk-text-capitalize">{{car.license_plate}}</span></dt>
      <dd class="uk-margin-small-bottom uk-text-capitalize">{{'status'|translate}}：<span *ngIf="car.status">{{car.status}}</span> </dd>
      <!--
      <dd class="uk-margin-small-bottom">{{'brand'|translate}}：<span *ngIf="car.brand">{{car.brand}}</span></dd>
      <dd class="uk-margin-small-bottom">{{'model'|translate}}：<span *ngIf="car.model">{{car.model}}</span></dd>
      <dd class="uk-margin-small-bottom">{{'color'|translate}}：<span *ngIf="car.color">{{car.color}}</span></dd>
      -->
    </dl>
  </div>

  <hr>
  <div class="uk-grid-collapse" uk-grid>
      <div class="uk-width-auto uk-padding-small uk-margin-top"><span class="uk-badge">1</span></div>
      <div class="uk-width-expand uk-padding-small">
        <p class="uk-text-large uk-margin-remove uk-text-bold">{{"Register"|translate}}</p>
        <div class="uk-text-meta uk-grid-collapse uk-margin-small" uk-grid>
          <div class="uk-width-auto">{{'Register time'|translate}}</div>
          <div class="uk-width-expand uk-text-right"> {{car.created_at}}</div>
        </div>
    </div>
  </div>

  <div class="uk-width-1-1" *ngFor="let timeline of car.timeline; let i = index">
      <ng-container *ngIf="timeline.station_id != 0">
        <hr>
        <div class="uk-grid-collapse" uk-grid>
            <div class="uk-width-auto uk-padding-small uk-margin-top"><span class="uk-badge">{{ i+2 }}</span></div>
            <div class="uk-width-expand uk-padding-small">
              <p class="uk-text-large uk-margin-remove uk-text-bold">{{timeline.station.name}} 
                <span class="uk-label uk-label-danger" *ngIf="timeline.status != ''">
                    {{timeline.status}}
                </span>
                <span class="uk-label uk-label-success" *ngIf="timeline.status == ''">
                    OK
                </span>
              </p>
              <div class="uk-text-meta uk-grid-collapse uk-margin-small" uk-grid>
                <div class="uk-width-auto">{{'arrival time'|translate}}</div>
                <div class="uk-width-expand uk-text-right"> {{timeline.arrival_at}}</div>
              </div>
              <div class="uk-text-meta uk-grid-collapse uk-margin-small" uk-grid>
                <div class="uk-width-auto">{{'departure time'|translate}}:</div>
                <div class="uk-width-expand uk-text-right"> {{timeline.departure_at}}</div>
              </div>
              <div class="uk-text-meta uk-grid-collapse uk-margin-small" uk-grid>
                <div class="uk-width-auto">{{'used time'|translate}}:</div>
                <div class="uk-width-expand uk-text-right"> {{timeline.stationTime}}{{ "minutes" | translate }}</div>
              </div>
          </div>
        </div>
      </ng-container>
  </div>

</div>

<!-- <div *ngIf="role.service_agent" >
  切片timeline页面代码
<app-footer></app-footer>
</div> -->

<!-- 
<app-header   [backPath]="true" (onClickButton)="onHeaderClick($event)"></app-header>
<div *ngIf="!role.service_agent"  class="uk-container uk-margin-xlarge-bottom">
  <nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-left">
      <a class="uk-navbar-item uk-logo" >{{'timeline'|translate}}</a>
    </div>
    <div class="uk-navbar-right">
      <div class="uk-navbar-item">
      </div>
    </div>
  </nav>

  <h2 class="uk-heading-line"><span>{{'information'|translate}}</span></h2>
  <dl class="uk-description-list">
      <dt>{{'status'|translate}}</dt>
      <dd>
        <button *ngFor="let status of car.status" class="uk-button uk-button-danger uk-button-small">
          {{status}}
        </button>
      </dd>
      <dt>{{'license plate'|translate}}</dt>
      <dd>{{car.license_plate}}</dd>
      <dt>{{'brand'|translate}}</dt>
      <dd>{{car.brand}}</dd>
      <dt>{{'model'|translate}}</dt>
      <dd>{{car.model}}</dd>
      <dt>{{'color'|translate}}</dt>
      <dd>{{car.color}}</dd>
  </dl>

  <h2 class="uk-heading-line"><span>{{'timeline'|translate}}</span></h2>
  <div class="uk-overflow-auto">
  <table class="uk-table uk-table-striped">
    <thead>
      <tr>
        <th class="uk-text-nowrap">{{'station'|translate}}</th>
        <th class="uk-text-nowrap">{{'arrival time'|translate}}</th>
        <th class="uk-text-nowrap">{{'departure time'|translate}}</th>
        <th class="uk-text-nowrap">{{'used time'|translate}} ({{'minutes'|translate}})</th>
        <th class="uk-text-nowrap">{{'status'|translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let timeline of car.timeline" >
        <ng-container *ngIf="timeline.station_id != 0">
          <td class="uk-text-nowrap">
            {{timeline.station.name}}
          </td>
          <td class="uk-text-nowrap">
            {{timeline.arrival_at}}
          </td>
          <td class="uk-text-nowrap">
            {{timeline.departure_at}}
          </td>
          <td class="uk-text-nowrap">
            {{timeline.stationTime}}
          </td>
          <td class="uk-text-nowrap">
            <div *ngIf="timeline.status != ''">
              <button class="uk-button uk-button-danger uk-button-small" style="width: 100px;">
                {{timeline.status}}
              </button>
            </div>
            <div *ngIf="timeline.status == ''">
                OK
            </div>
          </td>
        </ng-container>
        
        <ng-container *ngIf="timeline.station_id == 0">
            <td>
              {{"Register"|translate}}
            </td>
            <td>
              {{timeline.arrival_at}}
            </td>
            <td>
              -
            </td>
            <td>
              -
            </td>
            <td>
              -
            </td>
          </ng-container>
      </tr>
    </tbody>
  </table>
</div>
</div> -->

<div class="loading" *ngIf="loading">
  <span class="uk-margin-small-right" uk-spinner="ratio: 3"></span>
</div>
