<div class="timelinewrap" style="padding-top:1em;">
  <div class="uk-padding-small uk-padding-remove-bottom">
    <span class="uk-margin-small-right uk-icon" uk-icon="chevron-left" (click)="cancelTime()"
      ><svg
        width="20"
        height="20"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
        data-svg="chevron-left"
      ></svg></span>
  </div>
  <div class="uk-text-emphasis timeline-samll-font uk-padding uk-text-large">{{'timeline'|translate}}</div>
  <div class="uk-container uk-padding-small uk-padding-remove-top uk-padding-remove-bottom">
    <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m uk-padding-small topcontainer">
      <button class="uk-button uk-button-default uk-button-small btn-style uk-margin-small-bottom">Information</button>
      <dl class="uk-description-list uk-margin-remove-top dl-style">
        <dt class="uk-text-emphasis uk-margin-small-bottom">{{'status'|translate}}</dt>
        <dd class="uk-text-emphasis uk-margin-small-bottom" *ngFor="let status of car.status"  > {{status}}</dd>
        <dd class="uk-text-emphasis uk-margin-small-bottom">{{'license plate'|translate}}</dd>
        <dd class="uk-text-emphasis uk-margin-small-bottom" *ngIf="car.license_plate" >{{car.license_plate}}</dd>
        <dt class="uk-text-emphasis uk-margin-small-bottom">{{'brand'|translate}}</dt>
        <dd class="uk-text-emphasis uk-margin-small-bottom" *ngIf="car.brand" >{{car.brand}}</dd>
        <dt class="uk-text-emphasis uk-margin-small-bottom">{{'model'|translate}}</dt>
        <dd class="uk-text-emphasis uk-margin-small-bottom" *ngIf="car.model" >{{car.model}}</dd>
        <dt class="uk-text-emphasis uk-margin-small-bottom">{{'color'|translate}}</dt>
        <dd class="uk-text-emphasis  "   *ngIf="car.color">{{car.color}}</dd>
      </dl>
    </div>
  </div>

   

  <div class="uk-text-emphasis timeline-samll-font uk-padding uk-text-large">{{'timeline'|translate}}</div>
  <div class="uk-container uk-padding-small uk-padding-remove-top uk-padding-remove-bottom">
    <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m uk-padding-small bottomcontainer">
      <table class="uk-table uk-table-middle uk-table-divider table-style thead-style uk-table-middle uk-margin-remove-top">
        <thead class="thead-style">
          <tr>
            <th class="uk-text-small small-font uk-text-emphasis uk-width-1-3 uk-padding-small uk-padding-remove-left uk-padding-remove-right uk-text-center">{{'station'|translate}}</th>
            <th class="uk-text-small small-font uk-text-emphasis uk-width-1-3 uk-padding-small uk-padding-remove-left uk-padding-remove-right uk-text-center"> {{'arrival time'|translate}}</th>
            <th class="uk-text-small small-font uk-text-emphasis uk-width-1-3 uk-padding-small uk-padding-remove-left uk-padding-remove-right uk-text-center">{{'departure time'|translate}}</th>
            <th class="uk-text-small small-font uk-text-emphasis uk-width-1-3 uk-padding-small uk-padding-remove-left uk-padding-remove-right uk-text-center">{{'used time'|translate}} <br/> ({{'minutes'|translate}})</th>
            <th class="uk-text-small small-font uk-text-emphasis uk-width-1-3 uk-padding-small uk-padding-remove-left uk-padding-remove-right uk-text-center">{{'status'|translate}}</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let timeline of car.timeline">
            <th class="uk-text-small uk-text-emphasis uk-width-1-3 uk-padding-small uk-padding-remove-left uk-padding-remove-right uk-text-center">Station</th>
            <th class="uk-text-small uk-text-emphasis uk-width-1-3 uk-padding-small uk-padding-remove-left uk-padding-remove-right uk-text-center"> Arrival</th>
            <th class="uk-text-small uk-text-emphasis uk-width-1-3 uk-padding-small uk-padding-remove-left uk-padding-remove-right uk-text-center">Departure</th>
            <th class="uk-text-small uk-text-emphasis uk-width-1-3 uk-padding-small uk-padding-remove-left uk-padding-remove-right uk-text-center">Use time</th>
            <th class="uk-text-small uk-text-emphasis uk-width-1-3 uk-padding-small uk-padding-remove-left uk-padding-remove-right uk-text-center">Status</th>
         
          </tr> -->
          <tr *ngFor="let timeline of car.timeline" >
            <ng-container *ngIf="timeline.station_id != 0">
              <td class="uk-text-small uk-text-emphasis uk-width-1-3 uk-padding-small uk-padding-remove-left uk-padding-remove-right uk-text-center">
                {{timeline.station.name}}
              </td>
              <td class="uk-text-small uk-text-emphasis uk-width-1-3 uk-padding-small uk-padding-remove-left uk-padding-remove-right uk-text-center">
                {{timeline.arrival_at}}
              </td>
              <td class="uk-text-small uk-text-emphasis uk-width-1-3 uk-padding-small uk-padding-remove-left uk-padding-remove-right uk-text-center">
                {{timeline.departure_at}}
              </td>
              <td class="uk-text-small uk-text-emphasis uk-width-1-3 uk-padding-small uk-padding-remove-left uk-padding-remove-right uk-text-center">
                {{timeline.stationTime}}
              </td>
              <td class="uk-text-small uk-text-emphasis uk-width-1-3 uk-padding-small uk-padding-remove-left uk-padding-remove-right uk-text-center">
                <div *ngIf="timeline.status != ''">
                  <button class="uk-button uk-button-danger uk-button-small" style="width: 100px;">
                    {{timeline.status}}
                  </button>
                </div>
                <div *ngIf="timeline.status == ''">
                    OK
                </div>
              </td>
            </ng-container>
            
            <ng-container *ngIf="timeline.station_id == 0">
                <td class="uk-text-small uk-text-emphasis uk-width-1-3 uk-padding-small uk-padding-remove-left uk-padding-remove-right uk-text-center">
                  {{"Register"|translate}}
                </td>
                <td class="uk-text-small uk-text-emphasis uk-width-1-3 uk-padding-small uk-padding-remove-left uk-padding-remove-right uk-text-center">
                  {{timeline.arrival_at}}
                </td>
                <td class="uk-text-small uk-text-emphasis uk-width-1-3 uk-padding-small uk-padding-remove-left uk-padding-remove-right uk-text-center">
                  -
                </td>
                <td class="uk-text-small uk-text-emphasis uk-width-1-3 uk-padding-small uk-padding-remove-left uk-padding-remove-right uk-text-center">
                  -
                </td>
                <td class="uk-text-small uk-text-emphasis uk-width-1-3 uk-padding-small uk-padding-remove-left uk-padding-remove-right uk-text-center">
                  -
                </td>
              </ng-container>
          </tr>




        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- <div *ngIf="role.service_agent" >
  切片timeline页面代码
<app-footer></app-footer>
</div> -->

<!-- 
<app-header   [backPath]="true" (onClickButton)="onHeaderClick($event)"></app-header>
<div *ngIf="!role.service_agent"  class="uk-container uk-margin-xlarge-bottom">
  <nav class="uk-navbar-container uk-margin" uk-navbar>
    <div class="uk-navbar-left">
      <a class="uk-navbar-item uk-logo" >{{'timeline'|translate}}</a>
    </div>
    <div class="uk-navbar-right">
      <div class="uk-navbar-item">
      </div>
    </div>
  </nav>

  <h2 class="uk-heading-line"><span>{{'information'|translate}}</span></h2>
  <dl class="uk-description-list">
      <dt>{{'status'|translate}}</dt>
      <dd>
        <button *ngFor="let status of car.status" class="uk-button uk-button-danger uk-button-small">
          {{status}}
        </button>
      </dd>
      <dt>{{'license plate'|translate}}</dt>
      <dd>{{car.license_plate}}</dd>
      <dt>{{'brand'|translate}}</dt>
      <dd>{{car.brand}}</dd>
      <dt>{{'model'|translate}}</dt>
      <dd>{{car.model}}</dd>
      <dt>{{'color'|translate}}</dt>
      <dd>{{car.color}}</dd>
  </dl>

  <h2 class="uk-heading-line"><span>{{'timeline'|translate}}</span></h2>
  <div class="uk-overflow-auto">
  <table class="uk-table uk-table-striped">
    <thead>
      <tr>
        <th class="uk-text-nowrap">{{'station'|translate}}</th>
        <th class="uk-text-nowrap">{{'arrival time'|translate}}</th>
        <th class="uk-text-nowrap">{{'departure time'|translate}}</th>
        <th class="uk-text-nowrap">{{'used time'|translate}} ({{'minutes'|translate}})</th>
        <th class="uk-text-nowrap">{{'status'|translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let timeline of car.timeline" >
        <ng-container *ngIf="timeline.station_id != 0">
          <td class="uk-text-nowrap">
            {{timeline.station.name}}
          </td>
          <td class="uk-text-nowrap">
            {{timeline.arrival_at}}
          </td>
          <td class="uk-text-nowrap">
            {{timeline.departure_at}}
          </td>
          <td class="uk-text-nowrap">
            {{timeline.stationTime}}
          </td>
          <td class="uk-text-nowrap">
            <div *ngIf="timeline.status != ''">
              <button class="uk-button uk-button-danger uk-button-small" style="width: 100px;">
                {{timeline.status}}
              </button>
            </div>
            <div *ngIf="timeline.status == ''">
                OK
            </div>
          </td>
        </ng-container>
        
        <ng-container *ngIf="timeline.station_id == 0">
            <td>
              {{"Register"|translate}}
            </td>
            <td>
              {{timeline.arrival_at}}
            </td>
            <td>
              -
            </td>
            <td>
              -
            </td>
            <td>
              -
            </td>
          </ng-container>
      </tr>
    </tbody>
  </table>
</div>
</div> -->

<div class="loading" *ngIf="loading">
  <span class="uk-margin-small-right" uk-spinner="ratio: 3"></span>
</div>
