body {
  background-color: #f2f2f3;

}

.save-btn {
  width: 80%;
  height: 100%;
  background: rgba(64,90,178,1);
  border-radius: 6px;
}

.shadow {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1) !important;
}

.allwrap {
  width: 100%;
  height: 100%;
}
.allwrap .maincon{
  height: calc(100% - 54px);
  overflow-y: scroll;
}