<!-- <app-header [backPath]="true" (onClickButton)="onHeaderClick($event)"></app-header> -->

<!-- eidt----------------------------------start -->
<div
  class="uk-container create-wrap"
  style="padding-top:1.5em !important;box-sizing: border-box;"
>
  <div
    class="uk-padding-small uk-padding-remove-left uk-padding-remove-right"
    uk-grid
  >
    <div class="uk-width-1-3 uk-text-left uk-text-emphasis" (click)="cancelUser()">
      {{'cancel'|translate}
    </div>

    <div class="uk-width-1-3"></div>
    <div class="uk-width-1-3 uk-text-center">
      <button class="uk-button-primary save-btn" (click)="editUser()">{{'edit'|translate}}
      </button>
    </div>
  </div>

  <div
    class="uk-width-1-1 register-padding uk-text-emphasis uk-margin-small-top"
  >
  {{'user edit'|translate}}
  </div>
  <div class="uk-margin-top"></div>
  <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m middleBg">
    <div class="uk-margin-top">&nbsp;</div>
    <div uk-grid>
      <div class="uk-width-1-2 uk-text-emphasis left" for="username">
        *{{'username'|translate}}
      </div>
      <div class="uk-width-1-2 uk-padding-remove">
        <input
          class="uk-search-input uk-text-emphasis pad4"
          type="text"
          value="admin_yandebao"
        />
      </div>
    </div>
    <div uk-grid class="uk-margin-large-bottom">
      <div class="uk-width-1-2 uk-text-emphasis left" for="password">
        *{{'position'|translate}}
      </div>
      <div class="uk-width-1-2 uk-padding-remove">
        <input
          class="uk-search-input uk-text-emphasis pad4"
          type="text"
          [(ngModel)]="user_role_name" disabled
        />
      </div>
    </div>
    <div uk-grid class="uk-margin-large-bottom">
      <div class="uk-width-1-2 uk-text-emphasis left" for="password">
          {{'new'|translate}} {{'password'|translate}}
      </div>
      <div class="uk-width-1-2 uk-padding-remove">
        <input class="uk-search-input uk-text-emphasis pad4"  name="password" id="password" type="password" [(ngModel)]="user.password" />
      </div>
    </div>
    <div uk-grid class="uk-margin-large-bottom">
      <div class="uk-width-1-2 uk-text-emphasis left" for="password">
          {{'Confirm'|translate}}
      </div>
      <div class="uk-width-1-2 uk-padding-remove">
        <input class="uk-search-input uk-text-emphasis pad4" name="password-reply" id="password-reply" type="password"
        [(ngModel)]="user.passwordReply"    />
      </div>
    </div>
    <div class="uk-margin-top">&nbsp;</div>
  </div>
</div>
<!-- eidt----------------------------------end -->


<!-- <div class="uk-container">
    <nav class="uk-navbar-container uk-margin" uk-navbar>
        <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-logo">{{'user edit'|translate}}</a>
        </div>
        <div class="uk-navbar-right">
        </div>
    </nav>
    <form class="uk-form-stacked">
        <div class="uk-margin">
            <label class="uk-form-label" for="username">*{{'username'|translate}}</label>
            <div class="uk-form-controls">
                <input class="uk-input" name="username" id="username" type="text" [(ngModel)]="user.username">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="fullname">{{'fullname'|translate}}</label>
            <div class="uk-form-controls">
                <input class="uk-input" name="fullname" id="fullname" type="text" [(ngModel)]="user.fullname">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="position">*{{'position'|translate}}</label>
            <div class="uk-form-controls">
                <select class="uk-select" id="position" name="position" [(ngModel)]="user.user_role_id" disabled>
                        <option value="0" selected>Please select user role</option>
                        <option value="supervisor">Supervisor</option>
                        <option value="analyst">Analyst</option>
                        <option value="technician">Technician</option>
                </select>
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="email">{{'email'|translate}}</label>
            <div class="uk-form-controls">
                <input class="uk-input" name="email" id="email" type="text" [(ngModel)]="user.email">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="tel">{{'tel'|translate}}</label>
            <div class="uk-form-controls">
                <input class="uk-input" name="tel" id="tel" type="text" [(ngModel)]="user.tel">
            </div>
        </div>
        <hr>
        <div class="uk-margin">
            <label class="uk-form-label" for="password">{{'new'|translate}} {{'password'|translate}}</label>
            <div class="uk-form-controls">
                <input class="uk-input" name="password" id="password" type="password" [(ngModel)]="user.password">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="password-reply"> {{'reply'|translate}} {{'new'|translate}} {{'password'|translate}}</label>
            <div class="uk-form-controls">
                <input class="uk-input" name="password-reply" id="password-reply" type="password" [(ngModel)]="user.passwordReply">
            </div>
        </div>
    </form>
    <div class="uk-container uk-text-right uk-margin-large-bottom">
        <button class="uk-button uk-button-default uk-border-rounded" (click)="editUser()">{{'edit'|translate}}</button>
        <button class="uk-button uk-button-default uk-border-rounded uk-margin-small-left" (click)="cancelUser()">{{'cancel'|translate}}</button>
    </div>
</div> -->

<app-confirm-modal [elementId]="confirmModal.elementId" [detail]="confirmModal.detail" (onClick)="onClickConfirmModal($event)"></app-confirm-modal>

<div class="loading" *ngIf="loading">
    <span class="uk-margin-small-right" uk-spinner="ratio: 3"></span>
</div>