.uk-fb-input{
    background-color: #d4d5d6;
}
.uk-width-2-5-new{
    width: 32%;
    color: #000000;
    font-size: 18px;
}
.uk-card-title-new{
    font-size: 26px;
}
.uk-overlay-new{
    padding: 0;
}
.uk-position-large-new{
    margin: 0 0 64px 0;
}
.uk-input-new{
    width: 68%;
    height: 26px;
    padding-left: 10px;
}
.uk-grid-new{
    height: 26px;
    align-items: center;
}
.uk-margin-xlarge-bottom{
    margin-bottom: 60px !important;
}
.uk-button-new{
    text-decoration: underline;
}
.login-btn{
    width: 75%;
    margin: 0 auto;
}
.login-btn-inner{
    background: rgba(66, 90, 169, 0.9) !important;
    border-radius: 6px !important;
    margin-top: 8px;
}
@media screen and (max-width:370px){
    .small-padding{
        padding: 10px 12px 20px 12px !important;
    }
    .small-font{
        font-size: 14px;
    }
    .small-margin{
        margin-bottom: 35px !important;
    }
    .small-margin-bottom{
        margin-bottom: 25px !important;
    }
}